/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-04-2019, 10:46:38
    Author     : Dark
*/
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#r_contrato{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 2px gray;
}
#center{
    margin-left: 20%;
}
label{
    margin-left: 30px;
    font-size: 18px;
}
input{
    margin-left: 10px;
}
select{
    margin-left: 10px;
    height: 25px;
    width: 175px;
}
button{
    margin-left: 10px;
}
#registrar_contrato{
    margin-left: 80px;
}
